---
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/" class="text-2xl font-bold text-primary hover:opacity-80 transition">
        Image Host
    </a>
</nav>
